# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:insightful-perch-941 # team: hacky-tricky, project: aegis-auth

NEXT_PUBLIC_CONVEX_URL=https://insightful-perch-941.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://insightful-perch-941.convex.site
# Deployment used by npx convex dev
CONVEX_DEPLOYMENT=dev:insightful-perch-941 # team: hacky-tricky, project: aegis-auth

NEXT_PUBLIC_CONVEX_URL=https://insightful-perch-941.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://insightful-perch-941.convex.site
# jwt= https://sweeping-wahoo-13.clerk.accounts.dev/.well-known/jwks.json
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3dlZXBpbmctd2Fob28tMTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_wNdxXD4bGz2SWW6FbOKq2bt1noVhIdYF2ph4zMUt5a

ELEVENLABS_API_KEY=sk_1e5631673eb52bc5a4962a427b3e977efd713f246683a7bf
ELEVENLABS_AGENT_ID=agent_7701kk8h2tncep2ss03ds51xpms4
ELEVENLABS_PHONE_ID=phnum_0701kk8s7aqxe62seewxgakexygt

GEMINI_API_KEY=AIzaSyCpUsdJuTv1g_9Mcx18MBCQaq4KpPHLPxo